.main-home {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.01em;
    padding: 24px 60px 118px;
}

@media screen and (max-width: 850px) {
    .main-home {
        padding: 24px 30px 70px;
    }
}

@media screen and (max-width: 450px) {
    .main-home {
        padding: 20px 14px 43px;
    }
}