.title-search {
    font-size: 40px;
    letter-spacing: 0.03em;
    line-height: 48px;
    margin-bottom: 25px;
    width: 817px;
    padding-left: 7px;
}

@media screen and (max-width: 850px) {
    .title-search {
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.02em;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .title-search {
        font-size: 28px;
        line-height: 33.6px;
        letter-spacing: 0.01em;
        margin-bottom: 19px;
    }
}