.title-main {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 20px;
    white-space: nowrap;
}

@media screen and (max-width: 1400px) {
    .title-main {
        font-size: 52px;
    }
}

@media screen and (max-width: 1200px) {
    .title-main {
        font-size: 44px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .title-main {
        font-size: 36px;
        line-height: 45px;
    }
}

@media screen and (max-width: 850px) {
    .title-main {
        font-size: 44px;
        line-height: 60px;
    }
}

@media screen and (max-width: 610px) {
    .title-main {
        font-size: 36px;
        line-height: 45px;
    }
}

@media screen and (max-width: 500px) {
    .title-main {
        font-size: 28px;
        line-height: 34px;
    }
}